.vscode/**
.vscode-test/**
src/**
tests/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.nyc_output
coverage
**/.git
node_modules/**
.husky/**
commitlint.config.js
eslint.config.js
rsync-changes.sh
sync-changes.sh
compile.txt
**/*.backup
.git/**
esbuild.js
.eslintrc.js
*.vsix
.venv/**
.pre-commit-config.yaml
out/providers/**
out/services/**
out/types/**
out/utils/**
out/test/**
