body {
  font-family: var(--vscode-font-family);
  color: var(--vscode-editor-foreground);
  padding: 20px;
  background-color: var(--vscode-editor-background);
}

.loading {
  text-align: center;
  padding: 40px;
}

.spinner {
  border: 4px solid rgb(0 0 0 / 10%);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: var(--vscode-button-background);
  animation: spin 1s linear infinite;
  margin: 0 auto 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
